@charset "UTF-8";
@import url(common.css);

/* header */

header {
    position: absolute;
    z-index: 9999;
    left: 0;
    right: 0;
    padding: 40px 0;
    transition: 0.3s;
}

header .logo a {
    display: block;
    text-indent: -99999999em;
    /* text-indent는 블럭요소인 태그만 가능 */
    background: url(../images/logo-white.png) no-repeat;
    width: 158px;
    height: 56px;
}

header nav.fr {
    display: flex;
    height: 56px;
}
header nav.fr a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
header .menu {
    display: flex;
    line-height: 56px;
}
header .menu li {
    padding-right: 30px;
}
header .cart_search{
    display: flex;
    line-height: 56px;
}
header .cart_search li{
    padding: 0 9px;
}
header .toggle{
    display: none;
}
header nav li a:hover{
    color: var(--primary_color);
}

/* slider */
.slider {
    /* 스크립트로 슬라이더 이미지를 추가할때 .slider기준으로 여러장의 사진의 위치를 잡기 위해서 
    */
    position: relative;
    height: 100vh;
    width: 100%;
}
.slider .slider_list li {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.slider .slider_list li.slide1{
    background-image: url(../images/mainslide_01.jpg);
}

.slider .slider_list li.slide2{
    background-image: url(../images/mainslide_02.jpg);
}
.slider .slider_list li.slide3{
    background-image: url(../images/mainslide_03.jpg);
}
.slider .slider_list li .contents{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 110;
    color: #fff;
    width: 590px;
}
.slider .slider_list li .contents h3 {
    font-size: 36px;
    font-family: "Raleway",sans-serif;
    font-weight: 600;
    line-height: 1.1;
}
.slider .slider_list li .contents h2 {
    font-size: 52px;
    font-family: "Raleway",sans-serif;
    font-weight: 800;
    line-height: 1.3;
}
.slider .slider_list li .contents p{
    width: 98%;
    margin-bottom: 49px;
}
.slider p.controls a{
    width: 40px;
    height: 74px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: url(../images/sprites.png) no-repeat;
    z-index: 120;
    text-indent: -999999999px;
}
.slider p.controls a.prev {
    background-position: 0 -77px;
    margin-left: -789px;
}
.slider p.controls a.next {
    background-position: -40px -77px;
    margin-left: 789px;
}
.slider p.pager {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    display: flex;
}
.slider p.pager span {
    width: 11px;
    height: 11px;
    background: rgba(255,255,255,.5);
    border: 2px solid transparent;
    margin-right: 10px;
    border-radius: 50%;
}
.slider p.pager span.active{
    border: 2px solid #d3c1ad;
    background: transparent;
}
.slider p.pager span:last-child {
    margin-right: 0;
}
.slider .slider_list li.active .contents *{
    animation: slideIn 3s forwards ease-out;
}

.slider .slider_list li.active .contents h3{
    animation-delay: 1s;
}
.slider .slider_list li.active .contents h2{
    animation-delay: 1.4s;
}
.slider .slider_list li.active .contents p{
    animation-delay: 1.8s;
}
.slider .slider_list li.active .contents a{
    animation-delay: 2.2s;
}
@keyframes slideIn {
    0% {
        transform: translateY(40%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
/* services */
.services{
    padding: 92px 0 80px;
    display: flex;
}
.services .service_item {
    width: 270px;
    margin-right: 30px;
    text-align: center;
    opacity: 0;
    transition: 0.4s;
}
.services.active .service_item{
    opacity: 1;
}
.services.active .service_item:nth-child(1){
    transition-delay: .1s;
}
.services.active .service_item:nth-child(2){
    transition-delay: .2s;
}
.services.active .service_item:nth-child(3){
    transition-delay: .4s;
}
.services.active .service_item:nth-child(4){
    transition-delay: .6s;
}
.services .service_item:last-child{
    margin-right: 0;
}
.services .service_item .icon {
    font-size: 36px;
    color: var(--title_color);
}
.services .service_item h4 {
    font-size: 22px;
    font-weight: 500;
    color: var(--title_color);
    margin: 26px 0 13px;
}
.services .service_item p {
    font-size: 14px;
    font-weight: 300;
    color: var(--txt_color);
    margin: 0 0 1em;
}
.services .service_item .status {
    display: inline-block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}
.services .service_item:hover h4 {
    color: #998675;
}
.services .service_item:hover .status {
    background-color: #998675;
}

/* realization */
.realization {
    background: var(--content_bgcolor);
    padding-top: 84px;
    text-align: center;
}
.realization img{
    width: 100%;
}
/* text_boxes */
.text_boxes{
    padding: 50px 0;
    background: linear-gradient(to right,#211b19,#4e3427);
}
.text_boxes .container{
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
}
.text_boxes .container .box_contents h4{
    color: var(--background-_color);
    font-size: 28px;
}
.text_boxes .container .box_contents h4 span{
    color: var(--secondary_color);
}
.text_boxes .container .box_contents p{
    color: #615855;
    font-size: 18px;
    font-weight: 300;
}
/* latest Projects */
.latest_projects {
    padding: 80px 0;
}
.latest_projects input {
    display: none;
}
.latest_projects .projects_wrap{
    text-align: center;
}
.latest_projects .projects_wrap label{
    line-height: 30px;
    border: 1px solid #ebebeb;
    padding: 0 18px;
    background: var(--background-_color);
    display: inline-block;
    border-radius: 3px;
    margin: 0 3px;
    font-size: 14px;
    font-weight: 300;
    color: var(--txt_color);
    transition: .3s;
}
.latest_projects .projects_wrap .project_list{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.latest_projects .projects_wrap .project_list li {
    width: 360px;
}

.latest_projects .projects_wrap .project_list li:nth-child(3n){
    margin: 0 0 30px 0;
}

.latest_projects .projects_wrap .project_list li img{
    width: 100%;
}

.latest_projects .projects_wrap .project_list input:checked+label{
    background-color: var(--primary_color);
    color: var(--content_bgcolor);
    border: 1px solid var(--primary_color);
}
.latest_projects .projects_wrap .project_list li .imgWrap{
    position: relative;
}
.latest_projects .projects_wrap .project_list li .imgWrap .hover_content{
    position: absolute;
    background: rgb(0,0,0,0.7);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    transition: .4s;
}

.latest_projects .projects_wrap .project_list li .content {
    background-color: var(--content_bgcolor);
    padding: 24px 29px;
    text-align: left;
}
.latest_projects .projects_wrap .project_list li .content h4 {
    font-size: 20px;
    color: var(--secondary_color);
    font-weight: 500;
}
.latest_projects .projects_wrap .project_list li .imgWrap .hover_content a{
    color: var(--background-_color);
    margin: 0 15px;
    font-size: 26px;
}
.latest_projects .projects_wrap .project_list li .imgWrap .hover_content a:hover{
    color: var(--secondary_color);
}
.latest_projects .projects_wrap .project_list li:hover .imgWrap .hover_content{
    opacity: 1;
}
.latest_projects .projects_wrap .project_list li:hover .content{background-color: #362f2d;}

.latest_projects .projects_wrap .project_list li:hover h4{
    color: var(--background-_color);
}

.latest_projects .projects_wrap .project_list li:hover p{
    color: var(--secondary_color);
}

#filter-all:checked ~ .project_list li{
    animation: fadeIn 0.3s forwards;
}
#filter-mobile:checked ~ .project_list li:not(.mobile){
    animation: fadeOut 0.3s forwards;
}
#filter-illust:checked ~ .project_list li:not(.illust){
    animation: fadeOut 0.3s forwards;
}
#filter-photo:checked ~ .project_list li:not(.photo){
    animation: fadeOut 0.3s forwards;
}
#filter-web:checked ~ .project_list li:not(.web){
    animation: fadeOut 0.3s forwards;
}

@keyframes fadeIn {
    from{opacity:0; transform: scale(0);}
    to{opacity:1; transform: scale(1);}
}
@keyframes fadeOut {
    from{opacity:1; transform: scale(1);}
    to{opacity:0; transform: scale(0);}
}
.load_more {
    text-align: center;
    margin-top: 40px;
}

/* viedeo */
.video {
    background: url(../images/video_bg.jpg) no-repeat center center/cover;
    position: relative;
    height: 705px;
}

.video .contents {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.video .contents * {
    color: var(--background-_color);
}

.video .contents .icon {
    font-size: 4em;
    width: 100px;
    height: 100px;
    background: rgba(0,0,0,.2);
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    display: inline-block;
}

.video .contents h3 {
    color: var(--secondary_color);
}

#overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    transition: .5s;
    pointer-events: none;
    z-index: 999;
    opacity: 0;
}

#overlay .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#overlay .inner .close {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background: var(--background-_color);
    color: #000;
    border: 50%;
    top: -1rem;
    right: -1rem;
    text-align: center;
    line-height: 2rem;
    text-decoration: none;
}

#overlay.visible {
    opacity: 1;
}