@charset "UTF-8";
@import url(common.css);

/* header */

header {
    position: absolute;
    z-index: 9999;
    left: 0;
    right: 0;
    padding: 40px 0;
    transition: 0.3s;
}

header .logo a {
    display: block;
    text-indent: -99999999em;
    /* text-indent는 블럭요소인 태그만 가능 */
    background: url(../images/logo-white.png) no-repeat;
    width: 158px;
    height: 56px;
}

header nav.fr {
    display: flex;
    height: 56px;
}
header nav.fr a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
header .menu {
    display: flex;
    line-height: 56px;
}
header .menu li {
    padding-right: 30px;
}
header .cart_search{
    display: flex;
    line-height: 56px;
}
header .cart_search li{
    padding: 0 9px;
}
header .toggle{
    display: none;
}
header nav li a:hover{
    color: var(--primary_color);
}

/* slider */
.slider {
    /* 스크립트로 슬라이더 이미지를 추가할때 .slider기준으로 여러장의 사진의 위치를 잡기 위해서 
    */
    position: relative;
    height: 100vh;
    width: 100%;
}
.slider .slider_list li {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.slider .slider_list li.slide1{
    background-image: url(../images/mainslide_01.jpg);
}

.slider .slider_list li.slide2{
    background-image: url(../images/mainslide_02.jpg);
}
.slider .slider_list li.slide3{
    background-image: url(../images/mainslide_03.jpg);
}
.slider .slider_list li .contents{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 110;
    color: #fff;
    width: 590px;
}
.slider .slider_list li .contents h3 {
    font-size: 36px;
    font-family: "Raleway",sans-serif;
    font-weight: 600;
    line-height: 1.1;
}
.slider .slider_list li .contents h2 {
    font-size: 52px;
    font-family: "Raleway",sans-serif;
    font-weight: 800;
    line-height: 1.3;
}
.slider .slider_list li .contents p{
    width: 98%;
    margin-bottom: 49px;
}
.slider p.controls a{
    width: 40px;
    height: 74px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: url(../images/sprites.png) no-repeat;
    z-index: 120;
    text-indent: -999999999px;
}
.slider p.controls a.prev {
    background-position: 0 -77px;
    margin-left: -789px;
}
.slider p.controls a.next {
    background-position: -40px -77px;
    margin-left: 789px;
}
.slider p.pager {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    display: flex;
}
.slider p.pager span {
    width: 11px;
    height: 11px;
    background: rgba(255,255,255,.5);
    border: 2px solid transparent;
    margin-right: 10px;
    border-radius: 50%;
}
.slider p.pager span.active{
    border: 2px solid #d3c1ad;
    background: transparent;
}
.slider p.pager span:last-child {
    margin-right: 0;
}